*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f5f8;
    color: #222;
}

.booklist{
    width: 90vw;
    max-width: 1170ox;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 760px) {
    .booklist{
        grid-template-columns: repeat(3, 1fr);
    }
}

.book{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem 2rem;
}